html, body {
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Orbitron';
    font-size: 2.25em;
}

header {
    margin: 0 auto;
    background-color: black;
    border-bottom: 0.8em solid red;
    height: 7em;
    width: 100%;
}

section {
    margin: 0 auto;
    padding: 0 1em 1.2em 0em;
    background-color: white;
    height: 30em;
    width: 1200px;
    z-index: 1;
    position: relative;
    
}


/*Ryu*/

.ryu {
    margin: 0 auto;
    width: 659px;
    height: 494px;
    float: left;
}

.ryu-still, .ryu-ready, .ryu-throwing, .ryu-cool {
    width: 659px;
    height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
    display: none;
}

.ryu-still {
    background-image: url('../images/ryu-standing-still.png');
}

.ryu-ready {
    background-image: url('../images/ryu-ready-position.gif');
}

.ryu-throwing {
    background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
    background-image: url('../images/ryu-cool.gif');
}

.hadouken {
    background-image: url('../images/hadouken.gif');
    width: 156px;
    height: 90px;
    display: none;
    float: left;
    position: absolute;
    top: 170px;
    right: 590px;
    z-index: 10;
}

.ryu-still, .ryu-ready, .ryu-throwing, .ryu-cool, .hadouken {
    background-repeat: no-repeat;
}


/*Text*/

.text {
    margin: 0 auto;
    width: 500px;
    height: 250px;
    float: right;
}

.logo {
    background-image: url('../images/SF_Logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 750px;
    height: 375px;
    display: none;
    position: absolute;
    top: 50px;
    left: 475px;
}

.text-click {
   width: 300px; 
    position: absolute;
    top: 75px;
    left:565px;
}

.text-pressx {
    width: 300px;
    position: absolute;
    top: 275px;
    left: 800px;
}

.text-click, .text-pressx {
    display: none;
}



footer {
    margin: 0 auto;
    background-color: black;
    border-top: 0.8em solid red;
    height: 11.8em;
    width: 100%
}